
<a href="/articles/new">New Articles</a>

<!-- <%= link_to 'new article', new_article_path%> -->

<% @articles.each do |article| %>

  <!-- <p><%= link_to article.title, article %></p> -->
  <p><a href="/articles/<%= article.id%>"><%= article.title %></a></p>

<% end %>
