<h2>What went Wrong!</h2>

<form class="" action="/" method="post">
  <label for="">Name your disaster</label>
  <input type="text" name="" value="">

  <label for="">It may be disturbing but add your image</label>
  <input type="text" name="" value="">
</form>
