<form class="" action="/blogs" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Name</label>
  <input type="text" name="name" value="">

  <label for="">Image_URL</label>
  <textarea name="image_url" rows="8" cols="80"></textarea>

  <label for="">Location</label>

  <textarea name="description" rows="8" cols="80"></textarea>

  <button>Create</button>

</form>
