<h1>Welcome to Games on Rails!</h1>

<div class="magic8">
  <h3>Magic 8 Ball</h3>
  <form class="question_field" action="index.html" method="post">
    <input type="text" name="question" value="">
    <button>Ask your Question</button>
  </form>

  <div class="answer">
    <h5></h5>
  </div>

</div>

<!-- <div class="secret_number">

</div>

<div class="rps">

</div> -->
